---
import Layout from '../layouts/Layout.astro';
const pageTitle = "Page not found."
---
<Layout pageTitle={pageTitle}>
      <h1 class="headingStyles">Page not found</h1>

      <p class="paragraphStyles"></p>

        Sorry{" "}
        <span role="img" aria-label="Pensive emoji">
          😔
        </span>{" "}
        Our best nethacker couldn’t find what you were looking for.
        <br />
        <a href="/">Go home</a>.
      </p>
</Layout>