---
const { pageTitle } = Astro.props;
---
<div class="container">
  <h2>Crowbell Design</h1>
    <nav>
      <ul class="navLinks">
        <li class="navLinkItem">
          <a href="/"  class="navLinkText">Home</a></li>
        <li class="navLinkItem">
          <a href="/portfolio" class="navLinkText">Portfolio</a>
        <li class="navLinkItem">
          <a href="/about" class="navLinkText">About</a>
        </li>
      </ul>
    </nav>
</div>